@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<h3>Email has been verified successfully</h3>
<a asp-page="Home" asp-action="Index" class="btn btn-primary"> home</a>

@section Scripts{ 

<script>
    $(document).ready(function () {
        confirm();
    });
    function confirm() {
        swal({
            title: "Email Configuration Successful",
            text: "Your Email Has Been verified",
            icon: "success",
            buttons: true,
            dangerMode: false
        });
    }
</script>
}

